Flask==1.1.1
Flask-Login==0.4.1
flask-redis==0.4.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
celery==4.4.0
mysqlclient==1.4.6
lxml==4.4.2
redis==3.3.11
requests==2.22.0
python-dotenv==0.10.3
blinker==1.4
uwsgi==2.0.18
rq==1.1.0
