{% extends 'base_template.html' %}


{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>Crawler Results</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Search Engine</th>
                        <th>HTTP Status code</th>
                        <th>HTML Response</th>
                    </tr>
                </thead>
                <tbody id="search-queries">
                    {% for log in crawl_logs %}
                    <tr>
                        <td>{{ log.search_engine }}</td>
                        <td>{{ log.http_status_code }}</td>
                        <td>
                            <a class="btn btn-primary" href="/debug/html/{{ log.id }}">View HTML</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
