{% extends 'base_template.html' %}

{% block body_id %}homepage{% endblock %}
{% block body %}
<div id="homepage">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-search">
                <form action="/search/results" method="GET" class="search-form">
                    <input type="text" name="q" class="query form-control" placeholder="Search query">
                    <button type="submit" class="btn btn-lg btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
